<!--<input [(ngModel)]="searchText" placeholder="search text goes here">
<ul>
  <li *ngFor="let c of content | filter : searchText"> </li>
    <li *ngFor="let key of c | keys">{{key}}: {{c[key]}}</li>
  
</ul> 
<input [(ngModel)]="searchText" placeholder="search text goes here">
<tr *ngFor="let c of content | filter : searchText">           
  <td *ngFor="let key of c | keys">{{key}}: {{c[key]}}</td>
</tr>-->
<h1>{{welcome}}</h1>
<label> Party Group <input  type="String"  [(ngModel)]="searchText" placeholder="search text goes here"> </label>
<button Onclick="onClickMe()"> Enter! </button>
<ng-datepicker [(ngModel)]="date"></ng-datepicker>

                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Game</th>
                        <th>Platform</th> 
                        <th>Release</th>
                    </tr>
                    <tr *ngFor="let g of games| filter : searchText">
                       <td>{{g.index}}</td> 
                        <td>{{g.game}}</td>
                        <td>{{g.platform}}</td>
                        <td>{{g.release}}</td> 
                    </tr>
                </table>`
