<h1>{{Title}}</h1>

<input [(ngModel)]="search" (keyup.enter) = "OnKeyUp()"/>
<ul>
<li *ngFor = "let C of Courses| filter : search" (click)= "clicked(C)">
{{ C.id}} 
{{C.name}}

</li>
<!--<label>
    Date
    <input [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3">
    <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
</label> 
<form #form="ngForm">
    <date-picker ngModel name="date"></date-picker>
</form>


     <ng-datepicker [(ngModel)]="date"></ng-datepicker> -->
	 
	<md-input-container>
    <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
    <button mdSuffix [mdDatepickerToggle]="picker"></button>
</md-input-container>
<md-datepicker #picker></md-datepicker>
<div class="mdl-cell mdl-cell--4-col">
        <div *ngIf="specific_name">
            
            <h3>Name: {{ specific_name.name  }}</h3>
          
        </div>  
    </div>
